# Cached VMs
**/vm-cache.bin

# rt.jar
**/rt.jar

# setup.py files
**/pyjvmgui.egg-info

*.pyc
test-output/
*.log
*.qmlc

# pyinstaller
build/
dist/
*.spec

# IDE settings
.idea/
.vscode/
